.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

input[type=text] {
  height: calc(10px + 2vmin);
  font-size: calc(10px + 2vmin);
  padding-top: 10px;
}

input[type=submit] {
  border: none;
  width: 100%;
  background: #00abc6;
  color: #fff;
  font-family: 'TitilliumText22LRegular', Arial, sans-serif;
  font-weight:bold;
  font-size: 1.1em;
  padding: 0.5em 0.5em;
  border-radius: 0px;
}

input[type=submit]:hover {
  background: #61dafb;
}

.App-link {
  color: #61dafb;
}

.buttons {
  width: 20%;
  table-layout: fixed;
}
.buttons tr {
  display: flex;
}
.buttons tr td {
  flex: 1;
  display: flex;
  flex-direction: column;
}

h1 {
  padding: 2em 0 3em 0;
}

button {
  flex: 1;
}

button {
  border: none;
  padding: 0.5em;
  background: #00abc6;
  color: #fff;
  font-family: 'TitilliumText22LRegular', Arial, sans-serif;
  font-weight:bold;
  font-size: 1.1em;
  border-radius: 0px;
}

button:hover {
  background: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
